## Important note:
## All paths defined in this configuration file must be absolute

### System Set ###
ppn=6
memory=45
script_path=/media/biogenger/D/scripts/GZLAB_ST_PIPELINE
welcome=/media/biogenger/D/scripts/GZLAB_ST_PIPELINE/welcome.txt

### Software ###
java_jre=/usr/bin/java
fastqc=/home/biogenger/Biosoftwares/FastQC/fastqc
cutadapt=/home/biogenger/miniconda3/envs/trim/bin/cutadapt
umi_tools=/home/biogenger/miniconda3/envs/debarcode/bin/umi_tools
bamCoverage=/home/biogenger/miniconda3/envs/daily/bin/bamCoverage
python_exec=/home/biogenger/miniconda3/envs/daily/bin/python
r_exec=/home/biogenger/miniconda3/envs/seurat/bin/Rscript

### zUMI ###
zUMIs=/home/biogenger/Biosoftwares/zUMIs/zUMIs.sh
zUMIs_yaml_default=/media/biogenger/D/scripts/GZLAB_ST_PIPELINE/zUMIs_ST.yaml
zUMIs_yaml=NULL

### Reference ###
genome_human=/media/biogenger/D/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.dna.primary_assembly.fa
gtf_human=/media/biogenger/D/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.100.chr.gtf
gtf_exon_human=/media/biogenger/D/Reference/human/GRCh38_hg38/ensembl/Homo_sapiens.GRCh38.100.chr.exon.gtf
HISAT2index_human=/media/biogenger/D/Reference/human/GRCh38_hg38/ensembl/hisat2_index/GRCh38
STARindex_human=/media/biogenger/D/Reference/human/GRCh38_hg38/ensembl/STAR_index
STARindex_rdna_human=/media/biogenger/D/Reference/human/riboDNA/STAR_index
RSeQC_gene_model_human=/media/biogenger/D/Reference/human/GRCh38_hg38/hg38_RefSeq.fromRSeQC.bed

genome_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.dna.primary_assembly.fa
gtf_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.102.chr.gtf
gtf_exon_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/ensembl/Mus_musculus.GRCm38.102.chr.exon.gtf
HISAT2index_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/ensembl/hisat2_index/GRCm38
STARindex_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/ensembl/STAR_index
STARindex_rdna_mouse=/media/biogenger/D/Reference/mouse/riboDNA/STAR_index
RSeQC_gene_model_mouse=/media/biogenger/D/Reference/mouse/GRCm38_mm10/mm10_RefSeq.fromRSeQC.bed

### Specific Project set ###
sample=NULL
species=mouse
outdir=/media/biogenger/D/Projects/CMY/pipeline_res/$sample

fq1=/media/biogenger/D/Projects/CMY/raw_data/$sample/${sample}_1.fq.gz
fq2=/media/biogenger/D/Projects/CMY/raw_data/$sample/${sample}_2.fq.gz

npixel=96
barcodes_A=/media/biogenger/D/Projects/CMY/barcodes/$sample/barcodes_A.txt
barcodes_B=/media/biogenger/D/Projects/CMY/barcodes/$sample/barcodes_B.txt

### Read1 set ###
# Attention: you have to check the cut (),() parameter of the barcode linker coordinates!
ME=CTGTCTCTTATACACATCT
Linker1_1=GGTCTGAGTTCGCAC
Linker1_2=TCGGACGATCATGGG
Linker2=CAAGTATGCAGCGCG
Linker3=CGAAACATCGGCCAC

### Read2 set ###
# Attention: debarcode_discard1 is between barcode2 and  barcode1, but the 1st bp is discarded to debarcode!
# Attention: debarcode_discard2 is after barcode1
barcode2_linker=GTGGCCGATGTTTCG
barcode1_linker=CCCATGATCGTCCGA
debarcode_discard1=TGGCCGATGTTTCGCGCGCTGCATACTTG 
debarcode_discard2=CCCATGATCGTCCGAGTGCGAACTCAGACC
debarcode_discard3=AGATGTGTATAAGAGACAG

### Choose run step of main pipeline ###
#Choose steps you want to run.
run_fastqc_every_step=run

run_check_linker=run
run_cutadapt=run
run_debarcode=run
run_debarcoded_stat_visualize=run
run_zumi=run
run_final_stat=run

### Choose run step of zUMIs pipeline ###
#Start zUMIs from stage. Possible TEXT(Filtering, Mapping, Counting, Summarising). Default: Filtering.
run_zumi_from=Filtering


